body {
    background: #2b2b2b;
}

.main {
    background: white;
    margin-top: 20%; 
    padding: 10px; 
    /* text-align: center;  */
}

.cover {
    padding: 2px; 
}

.padder {
    padding-left: 10px; 
}

#error {
    color: red;
}

.error-massage {
    color: red;
}