.container {
    margin-top: 30px;
}

.cover {
    padding: 2px; 
}

.padder {
    padding-left: 10px; 
}

#error {
    color: red;
}

.error-massage {
    color: red;
}

.info {
    display: inline;
}

/* table, td, th {
  border: 1px solid black;
} */

table {
  empty-cells: show;
}