<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="app.css" />
  </head>

  <body onload="if (document.referrer == '') self.location='404';">
    <div class="">
      <div class=""></div>
      <div class="">
        <div class="main">
          <div class="">
            <div>
              <h2>Demo</h2>
              <hr />
              <div class="container detail-payment" id="detail-payment">
                <div class="info"><b>Số tiền</b><p class="money" id="money"></p></div>
                <div class="info"><b>Lý do chuyển tiền</b><p class="reason" id="reason"></p></div>
                <div class="info"><b>Tên người chuyển</b><p class="name" id="name"></p></div>
                <div class="info"><b>Số điện thoại</b><p class="phone" id="phone"></p></div>
                <div class="info"><b>Email</b><p class="email" id="email"></p></div>
              </div>
              <button class='btn btn-info btn-lg' id="submit-button">Chấp nhận</button>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </body>
  <script src="detail.js">
    
  </script>
</html>
